<div data-hook="admin_shipping_category_form_fields">
  <!--POGEN,__pogen_547,f_dot_text_field__name_,<%= f.text_field :name %>--><!--POGEN,__pogen_547,label_tag_Spree_dot_t__name__,<%= label_tag Spree.t(:name) %>--><div data-hook="name" class="field align-center" id="__pogen_547">
    <%= label_tag Spree.t(:name) %><br>
    <%= f.text_field :name %>    
  </div>
</div>
