<header id="header" data-hook>
  <div class="container">
    <!--POGEN,__pogen_511,link_to_image_tag_Spree__Config__admin_interface_logo____id_____logo____spree_dot_admin_path_,<%= link_to image_tag(Spree::Config[:admin_interface_logo], :id => 'logo'), spree.admin_path %>--><figure data-hook="logo-wrapper" class="columns five" id="__pogen_511">
      <%= link_to image_tag(Spree::Config[:admin_interface_logo], :id => 'logo'), spree.admin_path %>
    </figure>

    <nav data-hook="admin_login_navigation_bar" class="columns eleven"></nav>
  </div>
</header>
