<nav id="admin-menu" data-hook>
  <div class="container">
    <div class="sixteen columns main-menu-wrapper">
      <!--POGEN,__pogen_512,render__partial_____spree_divide_admin_divide_shared_divide_tabs__,<%= render :partial => 'spree/admin/shared/tabs' %>--><ul data-hook="admin_tabs" class="fullwidth-menu" id="__pogen_512">
        <%= render :partial => 'spree/admin/shared/tabs' %>
      </ul>
    </div>
  </div>
</nav>
