<% if content_for?(:sub_menu) %>
  <nav id="sub-menu" data-hook>
    <div class="container">
      <!--POGEN,__pogen_544,yield__sub_menu_,<%= yield :sub_menu %>--><div class="sixteen columns" id="__pogen_544">
        <%= yield :sub_menu %>
      </div>
    </div>
  </nav>
<% end %>
